@keyframes ReopenGateLeft {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(10px);
  }
  }

  @keyframes ReopenGateRight {
    0% {
      transform: translateX(-80px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  
.stay-gate-left {
    position: absolute;
    left: 0;
    width: 500px;
    height: 650px;
    background-image: url(images/gate_left_1.png);
    background-size: cover;
    transform-origin: right center;
    animation: openGateLeft 5s forwards;
  }

  .stay-gate-right {
    position: absolute;
    right: 0;
    width: 500px;
    height: 650px;
    background-image: url(images/gate_right_1.png);
    background-size: cover;
    transform-origin: left center;
    animation: openGateRight 5s forwards;
  }